*{
    font-family: oswald;
}
body{
    background-color: var(--background-color);
}
footer{
    color: var(--light-text-color);
}
:root{
    --primary-text-color: #1d1c18;
    --background-color: #c2b3a3;
    --heavy-font: 600;
    --primary-background-colour: #14140e;
    --light-text-color: #faf9f5;
    --light-bg-color: #fff4e6;
    --feedback-bg-colour: #fff4e6;
}

.navbar.scrolling-active{
    background-color: rgba(66, 35, 0, 0.95); /* color appears */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: 0.8s;
}
.shopBGColour{
    background-color: var(--primary-background-colour);
}
.smallFont{
    font-weight: 400;
}
button:hover{
    transform: scale(1.05);
}
.border{
    border: 0.5px solid white;
    padding: 25px;
}
.paddingFiller{
    margin-top: 10%;
    margin-bottom: 10%;
}
.UpperFooterButton.active{
    opacity: 1;
}
.invisibleBorder{
    border: 1px solid rgba(255, 255, 255, 0.5);
}


.ShopHeadingText{
    font-size: 5vh;
}
.navbar{
    transition: 0.8s;
}
.backgroundColour1{
    background-color: #ffd438;
    
}
.feedbackBackground{
    background-color: var(--feedback-bg-colour);
}
.ExperienceBody{
    background-color: var(--background-color);
}
.transformBody{
    background-color: var(--background-color);
}
.hero{
    min-height: 120vh;
    background-color: var(--background-color);
}
.ContactUs-Button{
    padding: 10px 20px;
    background-color: var(--primary-background-colour);
    color: var(--light-text-color);
    border: none;
    transition: 0.5s;
}
.ContactUs-Button:hover{
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
.vignette {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 100px rgba(0,0,0,0.9) inset;
}

.left-side{
    width: 33%;
}
.middle-side{
    width: 33%;
}
.right-side{
    width: 33%;
    /* background-color: aqua; */
}



.HeroHeading{
    color: var(--primary-text-color);
    font-size: 90px;
    background-color: var(--light-bg-color);
    padding: 10px;
}
.blog{
    margin-top: 20%;
}
.BlogDesc{
    font-weight: var(--heavy-font);
}
.parfumeHeading{
    /* background-color: aqua; */
    border: #1d1c18 1px;
    border: 2px solid var(--primary-text-color);
    width: 60%;
    margin-top: 20%;
}

/* .SaloonService{
    background-color: aqua;
} */
.SaloonServiceDesc{
    font-weight: var(--heavy-font);
    padding-top: 40px;
    /* background-color: aqua; */
    font-size: 20px;
    
}
.BarberChairIMG{
    /* background-color: aqua; */
    width: 30%;
}

.OurSpecials{
    /* background-color: aqua; */
    justify-content: space-between;
}
.OurSpecialsDesc{
    font-weight: var(--heavy-font);
}
a.HaircutsLink{
    color: var(--primary-text-color);
    font-weight: var(--heavy-font);
}

.AppointmentButton{
    background-color: var(--primary-background-colour);
    border: none;
    color: var(--light-text-color);
    transition: 0.5s;
}
.OrderProductButton{
    background-color: #ff702e;
    border: none;
    color: var(--light-text-color);
    transition: 0.5s;
}
.AppointmentButton i{
    color: var(--light-text-color);
}
.getMakeoverButton a{
    color: var(--primary-text-color);
}
.NumberOfCities{
    font-size: 60px;
}

.UpperFooterButton{
    color: var(--light-text-color);
    border: none;
    background-color: var(--primary-background-colour);
    font-size: 5vh;
    opacity: 0.5;
    margin: 0%;
}
.miscFooterButton:hover{
    cursor: pointer;
    scale: 1.03;
}