*{
    font-family: oswald;
}
:root{
    --primary-text-color: #1d1c18;
    --background-color: #c2b3a3;
    --heavy-font: 600;
    --primary-background-colour: #14140e;
    --light-text-color: #faf9f5;
}
.backgroundColour1{
    background-color: #ffd438;
}
.ExperienceBody{
    background-color: var(--background-color);
}
.hero{
    min-height: 120vh;
    background-color: var(--background-color);
}
.ContactUs-Button{
    padding: 10px 20px;
    background-color: var(--primary-background-colour);
    color: var(--light-text-color);
    border: none;
    transition: 0.5s;
}
.ContactUs-Button:hover{
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.1);
}
.vignette {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 50px rgba(0,0,0,0.9) inset;
}

.left-side{
    width: 33%;
}
.middle-side{
    width: 33%;
}
.right-side{
    width: 33%;
    /* background-color: aqua; */
}









.HeroHeading{
    color: var(--primary-text-color);
    font-size: 90px;
}
.blog{
    margin-top: 20%;
}
.BlogDesc{
    font-weight: var(--heavy-font);
}
.parfumeHeading{
    /* background-color: aqua; */
    border: #1d1c18 1px;
    border: 2px solid var(--primary-text-color);
    width: 60%;
    margin-top: 20%;
}

/* .SaloonService{
    background-color: aqua;
} */
.SaloonServiceDesc{
    font-weight: var(--heavy-font);
    padding-top: 40px;
    /* background-color: aqua; */
    font-size: 20px;
    
}
.BarberChairIMG{
    /* background-color: aqua; */
    width: 30%;
}

.OurSpecials{
    /* background-color: aqua; */
    justify-content: space-between;
}
.OurSpecialsDesc{
    font-weight: var(--heavy-font);
}
a.HaircutsLink{
    color: var(--primary-text-color);
    font-weight: var(--heavy-font);
}

.AppointmentButton{
    background-color: var(--primary-background-colour);
    border: none;
    color: var(--light-text-color);
    
}
.AppointmentButton i{
    color: var(--light-text-color);
}